* {
  font-family: 'Kaushan Script', cursive;
  text-align: center;
}

body{
background-image: url("https://i.pinimg.com/736x/fb/14/d1/fb14d16059b8ef550ffe95c2075471ba.jpg");

}

.contentForm{
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.form{
  background-color: #F2D8D8;
  width: 30%;
  border-radius: 170px 20px 170px 20px;
  border: 20px solid rgb(128, 20, 20);
  padding: 30px;
}

span{
  font-size: 60px;
  color: #D5C7FF;
}
textarea{
  background-color: whitesmoke;
  margin-top: 8%;
  width: 30%;
}